html,
body {
	height: 100%;
}
body {
	background-color: red;
}

div {
	border: 1px solid black;
}

span {
	border: 1px solid blue;
}

.list-specialny li {
	background-color: red;
}

.list-specialny li {
	display: inline-block;
}

.list {
	border: 1px solid black;
	background-color: blue;
	
}

.p {
	font-size: 30px;
}

.bold {
	font-weight: bold;
}
