html,
body {
	height: 100%;
}
body {
	background-color: white;
}

div, h1 {
	border: 1px solid black;
	font-weight: bold;
	background-color: yellow;
}

span {
	border: 2px solid blue;
}

/** {
border: 1px solid red !important;
}*/

.heading1 {
	font-weight: bold;
	background-color: red;
}

.nameandcity {
	border: 2px solid green
}

.intro {
	background-color: yellow;
}

.center {
	text-align: center;
	color:red;
}

.large {
	text-align: center;
	color:red;
	font-size: 30px;
}

.link {
	style display: inline-block;
	text-decoration: none; 
}

.link:hover {
background-color: green;
text-decoration: underline;
}
