html,
body {
	height: 100%;
}

.title-small {
	background-color: rgba(0, 0, 255, .5);
}

.color-opacity50 {
/*	opacity: .5;*/
}

.holder-box {
	border: 1px solid red;
	width: 100px;
	word-break: break-all;
	height: 50px;
}

.wrapper-img {
	max-width: 100%;
	max-height: 100%;
}
